.loader{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(20deg,#7579e2,#ffb85a);
}
.loader-block{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid rgba(255,255,255,0.5);
    position: relative;
    top: 40%;
    left: 43%;
}
.loader-item{
    position: absolute;
    top: -5px;
    left: -5px;
    width: 150px;
    height: 150px;
    border-radius: 50px;
    border-top: 6px solid white;
    border-left: 6px solid white;
    border-right: 6px solid white;
    border-bottom: 6px solid white;
    animation-name: loader;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse/*alterante,reverse,normal,inherit,unset,revert,initial*/;
}
/*
@keyframes loader {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}*/
@keyframes loader {
    0%{
        transform: rotate(0) translate(0,0);
        border: 6px solid white;
        border-bottom: 6px solid transparent;
    }
    25%{
        transform: rotateY(180deg) translate(-200px,0);
        border: 6px solid lawngreen;
        border-bottom: 6px solid transparent;
    }
    50%{
        transform: rotateY(180deg) translate(0,-200px);
        border: 6px solid palevioletred;
        border-bottom: 6px solid transparent;
    }
    75%{
        transform: rotateY(360deg) translate(200px,0);
        border: 6px solid white;
        border-bottom: 6px solid transparent;

    }
    100%{
        transform: rotateY(0) translate(0,0);

    }
}