.wrap{
    margin:  200px;
    padding: 0;
}
.wrap-block{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: greenyellow;
    top: 200px;
    left: 0 ;
}
.wrap-block:hover{
    transform: rotate(360deg);
    transition: all 5s ease-in-out;
    margin-left: 800px;
    background-color: dodgerblue;
    animation: loader;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
@keyframes loader  {
    0%{
    background-color: greenyellow;
    }
    50%{
        background-color: hotpink;
    }
    100%{
        background-color: dodgerblue;
    }
}